body {
  background-color: #EAF6F6;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px; /* since many elements are boxes height property can also be set to them as well*/
  width: 30%;
}

h3 {
  color: #66BFBF;
  font-size: 30px;
}

p {
  font-size: x-large;
}

.paraClassGreen {
  color: green;
}

.demo {
  font-size: 35px;
}

.para-colorBg {
  background-color: #e5fbb8;
}


h2:hover {
  color: royalblue;
}

/* img */

img {
  width: 10%;
  border: solid;
  border-width: 8px;
}

#img2 {
  border-width: 0px 10px 20px 30px ;
}

#img3 {
  width: 30%;
}

#img4 {
  position: absolute;
  left: 300px;
}

#paras{
  text-align: center;
}

/*  */
.yellow {
  right: 50px;
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: yellow;
  /* display: inline-block; */
  border: aquamarine;
}


/* ---------BoxModel------------- */
#top-container {
  background-color: rgb(158, 220, 158);
  height: 300px;
  width: 300px;
  border: solid 10px brown;
  padding: 20px;
  margin: 50px;
}

#bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}