body {
  background-color: #68A7AD;
}

.form {
    margin-left: 300px;
    margin-bottom: 20px;
    /* background-color: aqua; */
}

#todo {
    padding-left: 140px;
    font-size: large;
}

#inputTxt {
    width: 300px;
}

.todoItem {
    margin-left: 250px;
}

.delTodo:hover { /* psuedo class hover  */
    background-color: #F7A4A4;
}
/*  */