#todoForm {
    margin-left: 700px;
}

.inputTxt {
    width: 400px;
    height: 25px;
    font-size: 1.2em;
}

#todoLabel {
    font-size: 2em;
    margin-left: 160px;
}

#addButton {
    height: 28px;
    width: 50px;
    margin-left: 10px;
}